<div fxLayout="row" fxFlex="100" fxLayoutAlign="center center" style="margin-bottom: 20px;">
  <mat-card fxFlex="40" fxFlex.md="70" fxFlex.lt-md="90" [class.mat-elevation-z3]="true">
    <div fxLayout="column">
      <div fxLayout="row" fxFlex="100" fxLayoutAlign="center">
        <h1>About Me</h1>
      </div>
      <div fxLayout="row" fxFlex="100" fxLayoutAlign="start">
        <p style="margin: 30px">I am a 5th year Computer Science student at RIT, minoring in Psychology.
          I love working on personal projects and learning new things, but I am mostly interested in data mining and
          database-oriented projects. Almost everything I do is open source, head over to
          my GitHub and check out my work! I also do 3D design in my free time (mostly for 3D printing), so visit my
          Thingiverse page to see some of that stuff. Feel free to contact me at admin@chriskobb.com </p>
      </div>
      <div fxLayout="row" fxFlex="100" fxLayoutAlign="center">
        <a mat-raised-button color="primary" style="margin: 5px" href="https://github.com/sigiltenebrae" target="_blank">Github</a>
        <a style="margin: 5px" mat-raised-button color="primary" href="https://www.thingiverse.com/sigiltenebrae/designs" target="_blank">Thingiverse</a>
        <a mat-raised-button color="primary" style="margin: 5px" href="https://www.linkedin.com/in/christian-kobb-497029190/" target="_blank">LinkedIn</a>
      </div>
    </div>
  </mat-card>
</div>
