<div fxLayout="column">
  <div fxFlexFill fxLayout="row" fxLayoutAlign="center" style="margin: 20px;">
    <h3>Click a project for more information!</h3>
  </div>
  <div fxFlexFill fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="center">
    <div *ngFor="let project of projects; let i = index" fxLayout="column">
      <mat-card (click)="project.hovered=true; project.unclose=true" class="project-viewer" matRipple [matRippleCentered]="false" [class.mat-elevation-z3]="true">
        <!--<div class="project-thumbnail-holder" [ngClass]="{
        'project-thumbnail-holder': !project.hovered,
        'project-thumbnail-holder-closed': project.hovered,
        'project-thumbnail-holder-unclose': project.unclose,
        'project-thumbnail-holder-unopen': project.unopen
        }" (mouseleave)="project.unopen=true; project.unclose=false;"
          (mouseenter)="project.unclose=false; project.unopen=false;">-->
        <div class="project-thumbnail-holder" [ngClass]="{
      'project-thumbnail-holder': true,
      'project-thumbnail-holder-closed': project.hovered,
      'project-thumbnail-holder-unclose': project.unclose
      }">
          <img class="project-thumbnail" src="{{project.thumbnail}}" alt="{{project.name}}">
        </div>
        <!--<img class="project-thumbnail project-thumbnail-back"
             (mouseenter)="project.hovered = true; project.unclose=false; project.unopen=false;"
             (mouseleave)="project.hovered=false; project.unclose=true; project.unopen=false;"
             src="{{project.thumbnail}}" alt="{{project.name}}">-->
        <img class="project-thumbnail project-thumbnail-back"
             src="{{project.thumbnail}}" alt="{{project.name}}">
        <h3 [ngClass]="{'project-name': !project.hovered, 'project-name-centered': project.hovered}">
          {{project.name}}
        </h3>
        <p *ngIf="!project.hovered" class="project-summary">{{project.summary}}</p>
        <div *ngIf="project.hovered" [innerHTML]="project.description" class="project-description"></div>
        <div *ngIf="project.hovered && project.source && project.source !== '' && project.source !== 'Thingiverse'" class="project-source-button" >
          <a mat-raised-button color="primary" href="{{project.source}}" target="_blank">Source</a>
        </div>
        <div *ngIf="project.hovered && project.source && project.source === 'Thingiverse'" class="project-source-button" >
          <a mat-raised-button color="primary" href="https://www.thingiverse.com/sigiltenebrae/designs" target="_blank">Thingiverse</a>
        </div>
      </mat-card>
    </div>
  </div>
</div>

