<mat-sidenav-container>
  <mat-sidenav #sidenav style="width: 60vw">
    <mat-toolbar color="primary">
      <div fxFlex fxLayout fxLayoutAlign="end">
        <button mat-icon-button (click)="sidenav.toggle()">
          <fa-icon [icon]="faXmark" size="2x"></fa-icon>
        </button>
      </div>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/projects'"> Projects </a>
      <a href="assets/resume/resume.pdf" mat-list-item> Resume </a>
      <a mat-list-item [routerLink]="'/about'"> About Me </a>
    </mat-nav-list>
  </mat-sidenav>



  <mat-sidenav-content>
    <mat-toolbar color="primary" style="position: fixed; z-index: 100">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="sidenav.toggle()">
          <fa-icon [icon]="faBars" size="2x"></fa-icon>
        </button>
      </div>
      <div fxFlex fxHide.xs>
        <h2>chriskobb.com</h2>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <button mat-button class="nav-button" [routerLink]="'/projects'">
          Projects
        </button>
        <button onclick="location.href='assets/resume/resume.pdf'" mat-button class="nav-button">
          Resume
        </button>
        <button mat-button class="nav-button" [routerLink]="'/about'">
          About Me
        </button>
        <button
          mat-icon-button
          (click)="toggleDarkTheme()"
          class="theme-toggle"
          aria-label="Toggle Dark Theme">
          <fa-icon [icon]="isDark ? faMoon: faSun" size="2x"></fa-icon>
        </button>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="end" fxHide.gt-xs>
        <button
          mat-icon-button
          style="font-family: sans-serif; !important;"
          (click)="toggleDarkTheme()"
          class="theme-toggle"
          aria-label="Toggle Dark Theme">
          <fa-icon [icon]="isDark ? faMoon: faSun" size="2x"></fa-icon>
        </button>
      </div>
    </mat-toolbar>
    <main style="margin-top: 80px;">
      <body class="mat-typography mat-app-background">
        <router-outlet></router-outlet>
      </body>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
