@use '@angular/material' as mat;
@import '../node_modules/@angular/material/theming';

@include mat.core();

$chriskobb-p-dark: (
  50 : #e0f2f5,
  100 : #b3dee5,
  200 : #80c8d4,
  300 : #4db2c3,
  400 : #26a2b6,
  500 : #0091a9,
  600 : #0089a2,
  700 : #007e98,
  800 : #00748f,
  900 : #00627e,
  A100 : #ace9ff,
  A200 : #79dbff,
  A400 : #46cdff,
  A700 : #2cc7ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$chriskobb-a-dark: (
  50 : #f5e2e0,
  100 : #e5b6b3,
  200 : #d48580,
  300 : #c3544d,
  400 : #b63026,
  500 : #a90b00,
  600 : #a20a00,
  700 : #980800,
  800 : #8f0600,
  900 : #7e0300,
  A100 : #ffacac,
  A200 : #ff7979,
  A400 : #ff4646,
  A700 : #ff2c2c,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$chriskobb-palette-primary-dark: mat.define-palette($chriskobb-p-dark);
$chriskobb-palette-accent-dark: mat.define-palette($chriskobb-a-dark);

$chriskobb-theme-dark: mat.define-dark-theme($chriskobb-palette-primary-dark, $chriskobb-palette-accent-dark);
